@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@theme {
  --color-primary: var(--color-orange-500);
  --spacing-sidebar: 120px;
  --spacing-sidebar-tabh: 35px
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  margin: 0;
  padding: 0;
}

.btn-scale {
  @apply transition-all duration-300 hover:scale-110 active:scale-90;
}

.btn-scale-sm {
  @apply transition-all duration-300 hover:scale-105 active:scale-95;
}

.btn-scale-lg {
  @apply transition-all duration-300 hover:scale-120 active:scale-80;
}